{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="decription" content="オススメの本を紹介">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="menu">
    <header class="header">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <nav>
            <ul class="main-nav">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'menu' %}">MENU</a></li>
                <li><a href="{% url 'create' %}">CREATE</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="menu-main">
            <h2 class="menu-number"><a class="menu-button" href="{% url 'ten' %}">10F　　　　　　　　　思想</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'nine' %}">9F 　　　　生き方・働き方</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'eight' %}">8F 　　　　　　　　思考法</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'seven' %}">7F 　　　　クリエイティブ</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'six' %}">6F 　チーム・コミュニティ</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'five' %}">5F 　　　　　テクノロジー</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'four' %}">4F 　　　　自然科学・数学</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'three' %}">3F 　　　　　　　　　社会</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'two' %}">2F　 　　物語風ビジネス書</a></h2>
            <h2 class="menu-number"><a class="menu-button" href="{% url 'one' %}">1F　 　　　　　　　　小説</a></h2>
        </div>
    </main>  

    <footer>
        <div>
            <p><small>&copy; 2021 not at the entrance</small></p>
        </div>
    </footer>

</body>